<h2>My Books</h2>
<ul class="books">
    <li *ngFor="let book of books"
    [class.selected]="book === selectedBook"
     (click)="onSelect(book)">
     <span class="badge">{{book.id}}</span> {{book.name}}
     <!-- <p>{{book.name}}</p>  -->
    </li>
</ul>
<div *ngIf="selectedBook">
    <h1>Checkout Details</h1>
<h2>{{selectedBook.name | uppercase}} </h2>
<div><span>id: </span>{{selectedBook.id}}</div>
<div>
    <label>name:
        <input [(ngModel)]="selectedBook.name" placeholder="name"/>
    </label><br>
    <button onclick="">Checkout This Item
        </button>
</div>
</div>

